.armorReductionCalculator {
  .bad {
    color: var(--quest-very-hard);
  }

  .medium {
    color: var(--quest-hard);
  }

  .good {
    color: var(--quest-medium);
  }

  .zero {
    color: var(--quest-easy);
  }
}
