.contentHeading {
  position: relative;

  &.centerAlign {
    text-align: center;
  }

  &.leftAlign {
    text-align: left;
  }

  &.rightAlign {
    text-align: right;
  }

  &.title {
    color: var(--primary-color);
  }

  &:hover .anchorIcon {
    visibility: visible;
  }

  .anchorIcon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 0.125em;
    visibility: hidden;
    cursor: pointer;
    transform: translateX(-100%);

    img {
      height: 0.625rem;
    }
  }
}
