@import "../../../styles/scrollbarMixin";

.body {
  --top-content-gap: 1vh;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  background-image: url("../../../images/pageBackgroundImage.png");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: auto 800px;
  background-repeat: no-repeat;

  nav {
    position: sticky;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    max-width: 20em;
    width: auto;
    height: calc(100vh - var(--header-height));
    padding: var(--top-content-gap) 2em;
    border-right: 1px solid var(--sepoarator-color);
    overflow-y: auto;
    @include element-scrollbar(var(--scrollbar-thumb-color), var(--scrollbar-track-color), 0.5rem);

    h3 {
      margin: 0;
      color: var(--primary-color);
      text-align: center;
    }
  }

  main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
  }
}
