@import "../../../styles/scrollbarMixin";

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  //background: url("images/bg_obrazok.png");

  nav {
    position: sticky;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    width: 15em;
    height: calc(100vh - var(--header-height));
    padding: 1em 2em;
    border-right: 1px solid var(--sepoarator-color);
    overflow-y: auto;
    @include element-scrollbar(var(--scrollbar-thumb), var(--scrollbar-track), 0.5rem);

    h3 {
      margin: 0;
      color: var(--primary-color);
      text-align: center;
    }
  }

  main {
    --top-content-gap: 1vh;

    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
  }
}
