// sass variables as css variables does not work in media queries
$extra-small-break-point: 0px;
$small-break-point: 600px;
$medium-break-point: 960px;
$large-break-point: 1280px;
$extra-large-break-point: 1920px;
