/* Use uppercase hex colors pleas */

:root {
  --primary-font-color: #ECE8DA;
  --secondary-font-color: #ECE8DA;
  --primary-color: #618A30;
  --secondary-color: #98B23E;
  --contrast-color: #FFD100;
  --header-footer-color: #131313;
  --header-footer-sepoarator-color: #313131;
  --vertical-sepoarator-color: #6F84410D;


  --spell: #7AD5FF;
  --talent: #548FEA; // still not sure

  // items
  --item-poor: #9D9D9D;
  --item-common: #FFFFFF;
  --item-uncommon: #1EFF00;
  --item-rare: #0070DD;
  --item-epic: #A335EE;
  --item-legendary: #FF8000;
  --item-artifact: #E6CC80;

  // classes
  --class-druid: #FF7C0A;
  --class-hunter: #AAD372;
  --class-mage: #3FC7EB;
  --class-paladin: #F48CBA;
  --class-priest: #FFFFFF;
  --class-rogue: #FFF468;
  --class-shaman: #0070DD;
  --class-warlock: #8788EE;
  --class-warrior: #C69B6D;

  // factions
  --faction-alliance: #0078FF;
  --faction-horde: #B30000;

  // power
  --power-mana: #0000FF;
  --power-rage: #FF0000;
  --power-focus: #FF8040;
  --power-energy: #FFFF00;
  --power-combo-points: #FFF569;
  --power-soul-shards: #80528C;

  // chat
  --chat-general: #FEC1C0;
  --chat-system-essages: #FFFF00;
  --chat-guild: #3CE13F;
  --chat-officer: #40BC40;
  --chat-party: #AAABFE;
  --chat-linked-spells: #67BCFF;
  --chat-say: #FFFFFF;
  --chat-whisper: #FF7EFF;
  --chat-yell: #FF3F40;
  --chat-emote: #FF7E40;
  --chat-raid: #FF7D01;
  --chat-raid-leader: #FF4709;
  --chat-raid-warning: #FF4700;

  //profession skill-ups
  --skillup-alwyas: #EE783C;
  --skillup-often: #EEEE00;
  --skillup-seldom: #3CB33C;
  --skillup-never: #787878;

  // reputations
  // THIS IS possibly WRONG
  --reputation-positive: #00FF00;
  --reputation-neutral: #FFFF00;
  --reputation-negative: #CC2222;

  // quests
  --quest-default: #FFD100;
  --quest-very-easy: #DD2222;
  --quest-easy: #FF8040;
  --quest-medium: #FFFF00;
  --quest-hard: #40BF40;
  --quest-very-hard: #808080;
}

:root {
  background-color: var(--main-background-color);
  color: var(--primary-font-color);
}
