:root {
  --cursor-main: url("../images/cursors/mainCursor.png");
  --cursor-redirect: url("../images/cursors/redirectCursor.png");
  --cursor-mail: url("../images/cursors/mailCursor.png");
  cursor: var(--cursor-main), auto;
}

a {
  color: var(--contrast-color);
}

.pageImage {
  display: block;
  max-width: 95%;
  margin: 0 auto;
}
