:root {
  --cursor-main: url("../images/cursors/mainCursor.png");
  --cursor-redirect: url("../images/cursors/redirectCursor.png");
  --cursor-mail: url("../images/cursors/mailCursor.png");
  cursor: var(--cursor-main), auto;
}

a {
  color: var(--contrast-color);
}

.simplePageTable {
  --transparent-contrast-color: rgba(255, 209, 0, 0.2);
  margin: var(--leading) auto;

  th {
    background-color: var(--transparent-contrast-color);
  }

  &, th, td {
    border: 1px solid var(--transparent-contrast-color);
    border-collapse: collapse;
  }

  caption {
    margin-bottom: 0.375em;
  }

  th, td {
    padding: 0.25em 0.5em;
  }

  &.center td {
    text-align: center;
  }

  &.noMargin {
    margin: var(--leading) 0;
  }
}

.calculation {
  border: 1px solid var(--calculation-border-color);
  border-radius: 10px;
  padding: 0.375rem;
  background-color: var(--calculation-background-color);
  text-align: center;
  margin: 0.25rem;

  strong {
    text-decoration: underline;
  }
}

.pageImage {
  display: block;
  max-width: 95%;
  margin: 0 auto;
}
