.equipListTable {
  --transparent-item-epic: rgba(163, 53, 238, 0.2);

  margin-top: calc(var(--leading) / 2);
  border-collapse: collapse;

  &, tr, th, td {
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--transparent-item-epic);
    text-align: left;
  }

  td {
    padding: 0.5em 0.5em 0.25em;
  }

  th {
    width: 1px;
    padding: 0.5em 0.5em;
    white-space: nowrap;
  }
}
