.sideMenuItem {
  list-style-type: none;
  list-style-position: inside;

  .sideMenuHeader {
    position: relative;

    padding: 0;
    margin: calc(0.5 * 1em) 0;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;
    color: inherit;
    font: inherit;

    .sideMenuItemIcon {
      position: absolute;
      left: 0;
      fill: var(--contrast-color);
    }

    .sideMenuItemLabel {
      color: var(--primary-font-color);

      &.hasChildren {
        font-weight: bold;
      }

      a {
        color: var(--primary-font-color);
        text-decoration: none;

        &:hover {
          color: var(--contrast-color);
        }
      }
    }
  }

  ul {
    padding-left: 1em;
  }
}
