.sideMenuItem {
  list-style-type: none;

  .sideMenuHeader {
    position: relative;
    cursor: pointer;
    .sideMenuItemIcon {
      position: absolute;
      left: 0;
    }

    .sideMenuItemLabel {
      margin-left: 1em;

      a {
        text-decoration: none;
        color: var(--main-font-color);

        &:hover {
          color: pink;
        }
      }
    }
  }

  ul {
    padding-left: 1em;
  }
}
