.equipSetTable {

  width: 100%;
  margin-top: calc(var(--leading) / 2);
  border-collapse: collapse;

  &, th, td {
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
  }

  td {
    padding: 0 1em;
  }

  th {
    .equipmentSlotCellWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    padding: 0.5em;
  }

  tbody {
    &.armor {
    }

    &.weapons {
    }

    &.weapons {
      tr:first-of-type {
        //border-top: 2px solid red;
      }
    }
  }
}
