.poor {
  color: var(--item-poor)
}

.common {
  color: var(--item-common)
}

.uncommon {
  color: var(--item-uncommon)
}

.rare {
  color: var(--item-rare)
}

.epic {
  color: var(--item-epic)
}

.legendary {
  color: var(--item-legendary)
}

.artifact {
  color: var(--item-artifact)
}
