.content {
  width: 100%;
  max-width: 70em;
  padding: var(--top-content-gap) 2rem calc(12 * var(--top-content-gap));
}

.listOfContent {
  position: sticky;
  top: calc(var(--header-height) + var(--top-content-gap));
  height: min-content;
  max-width: 20em;
  margin-top: calc((var(--h1-multiplayer) * var(--leading)) + var(--top-content-gap));
  margin-right: 1.5rem;
  border-left: 1px solid var(--sepoarator-color);
  font-size: 0.85rem;

  ul {
    width: max-content;
    padding-left: 1em;
    margin: 0;
    list-style-type: none;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    line-height: calc(2 * 1rem);
  }
}
