.content {
  max-width: 60em;
  width: 100%;
  padding: 0 2em;
}

.listOfContent {
  height: min-content;
  border-left: 1px solid var(--sepoarator-color);

  .listOfContentTitle {
    padding-left: 1.5em;
    font-weight: bold;
    margin-bottom: calc(var(--leading) / 4);
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
    padding-left: 1.5em;
    margin: 0;
  }

  a {
    color: var(--primary-font-color);
    text-decoration: none;
    line-height: calc(2 * 1rem);

    &:hover {
      color: var(--contrast-color);
    }
  }
}
