nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  height: 100%;

  a {
    text-decoration: none;
    margin: 0 1em;
    color: var(--main-font-color);

    &:hover {
      color: pink;
    }
  }
}
